.page-item {
    &.disabled {
        .page-link {
            background: transparent;
            border: none;
        }
    }

    .page-link {
        background: transparent;
        border: none;
    }
}
