@import './scss/_colors.scss';

body {
    font-family: 'Raleway', sans-serif;
    background: $light-color;
    color: $dark-color;

    a {
        background: linear-gradient(to bottom, $secondary-color 0%, $secondary-color 100%) 0 100%
            repeat-x;
        background-size: 3px 3px;
        text-decoration: none;
        transition: color 300ms ease-in-out, background-size 300ms;
        color: $primary-color;
        padding: 0.5rem 1rem;
        display: inline-block;

        &:hover {
            color: $dark-color;
            background-size: 4px 50px;
        }

        &.active {
            background: linear-gradient(to bottom, $primary-color 0%, $primary-color 100%) 0 100%
                repeat-x;
            background-size: 3px 3px;
        }
    }
}
